@import "tailwindcss";


html {
  scroll-behavior: smooth;
}
/* Hide scrollbar but allow scroll */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}